In [50]:
import pandas as pd
import numpy as np

# < Dataset_X 생성 >

In [51]:
df1=pd.read_csv("After_Data_X/1차검진_X.csv",sep=",",encoding = 'cp949')
df2=pd.read_csv("After_Data_X/2차검진_X.csv",sep=",",encoding = 'cp949')
df3=pd.read_csv("After_Data_X/간호사_X.csv",sep=",",encoding = 'cp949')
df4=pd.read_csv("After_Data_X/고도비만율_X.csv",sep=",",encoding = 'cp949')
df5=pd.read_csv("After_Data_X/내원일수_X.csv",sep=",",encoding = 'cp949')
df6=pd.read_csv("After_Data_X/대사증후군_X.csv",sep=",",encoding = 'cp949')
df7=pd.read_csv("After_Data_X/복부비만율_X.csv",sep=",",encoding = 'cp949')
df8=pd.read_csv("After_Data_X/비만율_X.csv",sep=",",encoding = 'cp949')
df9=pd.read_csv("After_Data_X/신체활동_X.csv",sep=",",encoding = 'cp949')
df10=pd.read_csv("After_Data_X/약사_X.csv",sep=",",encoding = 'cp949')
df11=pd.read_csv("After_Data_X/외래보험자부담금_X.csv",sep=",",encoding = 'cp949')
df12=pd.read_csv("After_Data_X/외래본인부담금_X.csv",sep=",",encoding = 'cp949')
df13=pd.read_csv("After_Data_X/외래실인원_X.csv",sep=",",encoding = 'cp949')
df14=pd.read_csv("After_Data_X/외래의료자체충족율_X.csv",sep=",",encoding = 'cp949')
df15=pd.read_csv("After_Data_X/외래총진료비_X.csv",sep=",",encoding = 'cp949')
df16=pd.read_csv("After_Data_X/음주율_X.csv",sep=",",encoding = 'cp949')
df17=pd.read_csv("After_Data_X/의료기관_X.csv",sep=",",encoding = 'cp949')
df18=pd.read_csv("After_Data_X/의료장비_X.csv",sep=",",encoding = 'cp949')
df19=pd.read_csv("After_Data_X/의사_X.csv",sep=",",encoding = 'cp949')
df20=pd.read_csv("After_Data_X/인구_X.csv",sep=",",encoding = 'cp949')
df21=pd.read_csv("After_Data_X/입내원일수_X.csv",sep=",",encoding = 'cp949')
df22=pd.read_csv("After_Data_X/입원건수_X.csv",sep=",",encoding = 'cp949')
df23=pd.read_csv("After_Data_X/입원보호자부담금_X.csv",sep=",",encoding = 'cp949')
df24=pd.read_csv("After_Data_X/입원본인부담금_X.csv",sep=",",encoding = 'cp949')
df25=pd.read_csv("After_Data_X/입원의료자체충족율_X.csv",sep=",",encoding = 'cp949')
df26=pd.read_csv("After_Data_X/입원일수_X.csv",sep=",",encoding = 'cp949')
df27=pd.read_csv("After_Data_X/입원총진료비_X.csv",sep=",",encoding = 'cp949')
df28=pd.read_csv("After_Data_X/전문병상_X.csv",sep=",",encoding = 'cp949')
df29=pd.read_csv("After_Data_X/전문의_X.csv",sep=",",encoding = 'cp949')
df30=pd.read_csv("After_Data_X/진료실인원_X.csv",sep=",",encoding = 'cp949')
df31=pd.read_csv("After_Data_X/초고도비만율_X.csv",sep=",",encoding = 'cp949')
df32=pd.read_csv("After_Data_X/허가병상_X.csv",sep=",",encoding = 'cp949')
df33=pd.read_csv("After_Data_X/흡연율_X.csv",sep=",",encoding = 'cp949')

In [52]:
dataset_x=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20,df21,df22,df23,df24,df25,df26,df27,df28,df29,df30,df31,df32,df33],axis=1)

In [53]:
dataset_x.head()

,area_code,year,1차검진_event,1차검진_number,area_code,year,2차검진_event,2차검진_number,area_code,year,...,초고도비만율_event,초고도비만율_number,area_code,year,허가병상_event,허가병상_number,area_code,year,흡연율_event,흡연율_number
0,11010,2014,263048,408728,11010,2014,8648,24152,11010,2014,...,4256,579992,11010,2014,3267,159971,11010,2014,106256,579992
1,11010,2015,274560,416768,11010,2015,9488,26824,11010,2015,...,5216,614576,11010,2015,3334,156262,11010,2015,109616,614576
2,11010,2016,279688,412728,11010,2016,9784,27056,11010,2016,...,6960,649120,11010,2016,3353,153438,11010,2016,112216,649120
3,11010,2017,279056,407608,11010,2017,9600,28704,11010,2017,...,8088,657928,11010,2017,3293,150697,11010,2017,117000,657928
4,11010,2018,300472,439080,11010,2018,0,31352,11010,2018,...,8224,691288,11010,2018,3481,148464,11010,2018,118752,691288

In [54]:
dataset_x=dataset_x.T.drop_duplicates().T

In [55]:
dataset_x.head()

,area_code,year,1차검진_event,1차검진_number,2차검진_event,2차검진_number,간호사_event,간호사_number,고도비만율_event,고도비만율_number,...,입원의료자체충족율_number,입원일수_event,입원총진료비_event,전문병상_event,전문병상_number,전문의_event,진료실인원_event,초고도비만율_event,허가병상_event,흡연율_event
0,11010,2014,263048,408728,8648,24152,6104,1599710,43160,579992,...,285816,6067904,669249,391,799855,1256,4878720,4256,3267,106256
1,11010,2015,274560,416768,9488,26824,6188,1562620,46872,614576,...,292624,5964608,687665,371,781310,1309,4757064,5216,3334,109616
2,11010,2016,279688,412728,9784,27056,6270,1534380,54752,649120,...,316632,6120192,757579,379,767190,1308,4764464,6960,3353,112216
3,11010,2017,279056,407608,9600,28704,6906,1506970,57232,657928,...,325704,6194720,795960,385,753485,1291,4708656,8088,3293,117000
4,11010,2018,300472,439080,0,31352,6934,1484640,60736,691288,...,295720,5080176,861429,374,742320,1391,4673784,8224,3481,118752

In [56]:
dataset_x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1255 entries, 0 to 1254
Data columns (total 48 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   area_code         1255 non-null   int64
 1   year              1255 non-null   int64
 2   1차검진_event        1255 non-null   int64
 3   1차검진_number       1255 non-null   int64
 4   2차검진_event        1255 non-null   int64
 5   2차검진_number       1255 non-null   int64
 6   간호사_event         1255 non-null   int64
 7   간호사_number        1255 non-null   int64
 8   고도비만율_event       1255 non-null   int64
 9   고도비만율_number      1255 non-null   int64
 10  내원일수_event        1255 non-null   int64
 11  내원일수_number       1255 non-null   int64
 12  대사증후군_event       1255 non-null   int64
 13  대사증후군_number      1255 non-null   int64
 14  복부비만율_event       1255 non-null   int64
 15  비만율_event         1255 non-null   int64
 16  신체활동_event        1255 non-null   int64
 17  약사_event          1255 non-null   int64
 18  약사_number         1255 non-null   int64
 19  외래보험자부담금_event    1255 non-null   int64
 20  외래본인부담금_event     1255 non-null   int64
 21  외래실인원_event       1255 non-null   int64
 22  외래실인원_number      1255 non-null   int64
 23  외래의료자체충족율_event   1255 non-null   int64
 24  외래의료자체충족율_number  1255 non-null   int64
 25  외래총진료비_event      1255 non-null   int64
 26  음주율_event         1255 non-null   int64
 27  의료기관_event        1255 non-null   int64
 28  의료장비_event        1255 non-null   int64
 29  의료장비_number       1255 non-null   int64
 30  의사_event          1255 non-null   int64
 31  인구_event          1255 non-null   int64
 32  인구_number         1255 non-null   int64
 33  입내원일수_event       1255 non-null   int64
 34  입원건수_event        1255 non-null   int64
 35  입원보호자부담금_event    1255 non-null   int64
 36  입원본인부담금_event     1255 non-null   int64
 37  입원의료자체충족율_event   1255 non-null   int64
 38  입원의료자체충족율_number  1255 non-null   int64
 39  입원일수_event        1255 non-null   int64
 40  입원총진료비_event      1255 non-null   int64
 41  전문병상_event        1255 non-null   int64
 42  전문병상_number       1255 non-null   int64
 43  전문의_event         1255 non-null   int64
 44  진료실인원_event       1255 non-null   int64
 45  초고도비만율_event      1255 non-null   int64
 46  허가병상_event        1255 non-null   int64
 47  흡연율_event         1255 non-null   int64
dtypes: int64(48)
memory usage: 470.8 KB

In [58]:
dataset_x.to_csv("Dataset_X.csv",index=False, encoding="cp949")

# < Dataset_Y 생성 >

In [62]:
df1=pd.read_csv("After_Data_Y/1차검진_Y.csv",sep=",",encoding = 'cp949')
df2=pd.read_csv("After_Data_Y/2차검진_Y.csv",sep=",",encoding = 'cp949')
df3=pd.read_csv("After_Data_Y/간호사_Y.csv",sep=",",encoding = 'cp949')
df4=pd.read_csv("After_Data_Y/고도비만율_Y.csv",sep=",",encoding = 'cp949')
df5=pd.read_csv("After_Data_Y/내원일수_Y.csv",sep=",",encoding = 'cp949')
df6=pd.read_csv("After_Data_Y/대사증후군_Y.csv",sep=",",encoding = 'cp949')
df7=pd.read_csv("After_Data_Y/복부비만율_Y.csv",sep=",",encoding = 'cp949')
df8=pd.read_csv("After_Data_Y/비만율_Y.csv",sep=",",encoding = 'cp949')
df9=pd.read_csv("After_Data_Y/신체활동_Y.csv",sep=",",encoding = 'cp949')
df10=pd.read_csv("After_Data_Y/약사_Y.csv",sep=",",encoding = 'cp949')
df11=pd.read_csv("After_Data_Y/외래보험자부담금_Y.csv",sep=",",encoding = 'cp949')
df12=pd.read_csv("After_Data_Y/외래본인부담금_Y.csv",sep=",",encoding = 'cp949')
df13=pd.read_csv("After_Data_Y/외래실인원_Y.csv",sep=",",encoding = 'cp949')
df14=pd.read_csv("After_Data_Y/외래의료자체충족율_Y.csv",sep=",",encoding = 'cp949')
df15=pd.read_csv("After_Data_Y/외래총진료비_Y.csv",sep=",",encoding = 'cp949')
df16=pd.read_csv("After_Data_Y/음주율_Y.csv",sep=",",encoding = 'cp949')
df17=pd.read_csv("After_Data_Y/의료기관_Y.csv",sep=",",encoding = 'cp949')
df18=pd.read_csv("After_Data_Y/의료장비_Y.csv",sep=",",encoding = 'cp949')
df19=pd.read_csv("After_Data_Y/의사_Y.csv",sep=",",encoding = 'cp949')
df20=pd.read_csv("After_Data_Y/인구_Y.csv",sep=",",encoding = 'cp949')
df21=pd.read_csv("After_Data_Y/입내원일수_Y.csv",sep=",",encoding = 'cp949')
df22=pd.read_csv("After_Data_Y/입원건수_Y.csv",sep=",",encoding = 'cp949')
df23=pd.read_csv("After_Data_Y/입원보호자부담금_Y.csv",sep=",",encoding = 'cp949')
df24=pd.read_csv("After_Data_Y/입원본인부담금_Y.csv",sep=",",encoding = 'cp949')
df25=pd.read_csv("After_Data_Y/입원의료자체충족율_Y.csv",sep=",",encoding = 'cp949')
df26=pd.read_csv("After_Data_Y/입원일수_Y.csv",sep=",",encoding = 'cp949')
df27=pd.read_csv("After_Data_Y/입원총진료비_Y.csv",sep=",",encoding = 'cp949')
df28=pd.read_csv("After_Data_Y/전문병상_Y.csv",sep=",",encoding = 'cp949')
df29=pd.read_csv("After_Data_Y/전문의_Y.csv",sep=",",encoding = 'cp949')
df30=pd.read_csv("After_Data_Y/진료실인원_Y.csv",sep=",",encoding = 'cp949')
df31=pd.read_csv("After_Data_Y/초고도비만율_Y.csv",sep=",",encoding = 'cp949')
df32=pd.read_csv("After_Data_Y/허가병상_Y.csv",sep=",",encoding = 'cp949')
df33=pd.read_csv("After_Data_Y/흡연율_Y.csv",sep=",",encoding = 'cp949')

In [79]:
dataset_y=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20,df21,df22,df23,df24,df25,df26,df27,df28,df29,df30,df31,df32,df33],join="outer",axis=1)

In [82]:
dataset_y.head()

,area_code,year,gender,age,1차검진_event,1차검진_number,area_code,year,gender,age,...,gender,age,허가병상_event,허가병상_number,area_code,year,gender,age,흡연율_event,흡연율_number
0,11010.0,2014.0,0.0,0.0,65762.0,102182.0,11010.0,2014.0,0.0,0.0,...,0.0,0.0,3267.0,159971.0,11010.0,2014.0,0.0,0.0,26564.0,144998.0
1,11010.0,2014.0,0.0,2.0,5934.0,7460.0,11010.0,2014.0,0.0,2.0,...,0.0,0.0,3334.0,156262.0,11010.0,2014.0,0.0,2.0,1338.0,6348.0
2,11010.0,2014.0,0.0,3.0,10664.0,14952.0,11010.0,2014.0,0.0,3.0,...,0.0,0.0,3353.0,153438.0,11010.0,2014.0,0.0,3.0,3928.0,13202.0
3,11010.0,2014.0,0.0,4.0,15660.0,25286.0,11010.0,2014.0,0.0,4.0,...,0.0,0.0,3293.0,150697.0,11010.0,2014.0,0.0,4.0,7124.0,25696.0
4,11010.0,2014.0,0.0,5.0,15794.0,24946.0,11010.0,2014.0,0.0,5.0,...,0.0,0.0,3481.0,148464.0,11010.0,2014.0,0.0,5.0,7394.0,37658.0

In [83]:
dataset_y=dataset_y.T.drop_duplicates().T

In [84]:
dataset_y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30120 entries, 0 to 30119
Data columns (total 57 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   area_code         26355 non-null  float64
 1   year              26355 non-null  float64
 2   gender            26355 non-null  float64
 3   age               26355 non-null  float64
 4   1차검진_event        26355 non-null  float64
 5   1차검진_number       26355 non-null  float64
 6   2차검진_event        26355 non-null  float64
 7   2차검진_number       26355 non-null  float64
 8   area_code         1255 non-null   float64
 9   year              1255 non-null   float64
 10  gender            1255 non-null   float64
 11  간호사_event         1255 non-null   float64
 12  간호사_number        1255 non-null   float64
 13  고도비만율_event       26355 non-null  float64
 14  고도비만율_number      26355 non-null  float64
 15  area_code         30120 non-null  float64
 16  year              30120 non-null  float64
 17  gender            30120 non-null  float64
 18  age               30120 non-null  float64
 19  내원일수_event        30120 non-null  float64
 20  내원일수_number       30120 non-null  float64
 21  대사증후군_event       26355 non-null  float64
 22  대사증후군_number      26355 non-null  float64
 23  복부비만율_event       26355 non-null  float64
 24  비만율_event         26355 non-null  float64
 25  신체활동_event        26355 non-null  float64
 26  약사_event          1255 non-null   float64
 27  약사_number         1255 non-null   float64
 28  외래보험자부담금_event    30120 non-null  float64
 29  외래본인부담금_event     30120 non-null  float64
 30  외래실인원_event       30120 non-null  float64
 31  외래실인원_number      30120 non-null  float64
 32  외래의료자체충족율_event   30120 non-null  float64
 33  외래의료자체충족율_number  30120 non-null  float64
 34  외래총진료비_event      30120 non-null  float64
 35  음주율_event         26355 non-null  float64
 36  의료기관_event        1255 non-null   float64
 37  의료장비_event        1255 non-null   float64
 38  의료장비_number       1255 non-null   float64
 39  의사_event          1255 non-null   float64
 40  인구_event          30120 non-null  float64
 41  인구_number         30120 non-null  float64
 42  입내원일수_event       30120 non-null  float64
 43  입원건수_event        30120 non-null  float64
 44  입원보호자부담금_event    30120 non-null  float64
 45  입원본인부담금_event     30120 non-null  float64
 46  입원의료자체충족율_event   30120 non-null  float64
 47  입원의료자체충족율_number  30120 non-null  float64
 48  입원일수_event        30120 non-null  float64
 49  입원총진료비_event      30120 non-null  float64
 50  전문병상_event        1255 non-null   float64
 51  전문병상_number       1255 non-null   float64
 52  전문의_event         1255 non-null   float64
 53  진료실인원_event       30120 non-null  float64
 54  초고도비만율_event      26355 non-null  float64
 55  허가병상_event        1255 non-null   float64
 56  흡연율_event         26355 non-null  float64
dtypes: float64(57)
memory usage: 13.1 MB

In [85]:
dataset_y.to_csv("Dataset_Y.csv",index=False, encoding="cp949")